<%- include('../partials/header.ejs') %>

<h1>Your Yard</h1>

<% if (user.yards.length) { %>
  <ul>
    <% user.yards.forEach((yard) => { %>
      <li><a href="/yards/<%= yard._id %>"><%= yard.address %> at <%= yard.status %></a></li>
    <% }) %>
  </ul>
<% } else { %>
  <p>You Must Create a Yard</p>
<% } %>

<%- include('../partials/footer.ejs') %>